
Result Size: 422 x 567
n
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="home.css" type="text/css">
    <title>Example App</title>
</head>
<body>
  <div class="container">
​
  <div class="upload_section">
​
  <form 
  
    id  =  "uploadForm"
     enctype   =  "multipart/form-data"
     action="/profile"
     method    =  "post"
     >
  <input type="file"  name="avatar" multiple="multiple">
  
  {{!-- <a href="uploadReady">Upload</a> --}}
  <button type="submit" >UPLOAD</button>
  </div>
  <div class="download_btn">
<a href="/" target="blank" onclick="javascript:event.target.port=8080">Download</a>
  </div>
   </form>
   </div>
</body>
</html>
